<!DOCTYPE html>
<html>
<head>
    <title>MiniLang Compiler</title>

    /static/style.css
</head>

<body class="home-body">

    <div class="home-container">

        <h1>Welcome To Our Mini Compiler</h1>

        <h2>Compiler Design Project</h2>

        <div class="team">
            <p>Tanjim Tajwar Arnab (22701066)</p>
            <p>Hafiz Hasnat Sifat Jami (22701068)</p>
            <p>Muznabin Ahmed (22701069)</p>
            <p>Monir Hossain (21701009)</p>
        </div>

        /compiler
            <button class="start-btn">
                Start Compiler
            </button>
        </a>

    </div>

</body>
</html>