<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MiniLang Compiler</title>

    static/style.css">
</head>

<body>

    <div class="container">

        <h1>MiniLang Compiler</h1>

        <h3>Source Code</h3>

        <input type="file" id="fileInput">

        <br><br>

        <textarea
            id="codeEditor"
            rows="20"
            placeholder="Write MiniLang code here...">
        </textarea>

        <br><br>

        <button id="browseBtn">Browse</button>
        <button id="submitBtn">Submit</button>
        <button id="clearBtn">Clear</button>

        <h3>Compiler Output</h3>

        <textarea
            id="outputBox"
            rows="12"
            readonly
            placeholder="Compiler output will appear here...">
        </textarea>

    </div>

    /static/script.js

</body>

</html>